<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>
            {% block title %}
                Lorem ipsum
            {% endblock %}
        </title>


        {% block menu %}
            {% include 'navbar.html' %}
        {% endblock %}

    <div class="p-5 text-center" style="background-color: #e8e8e4">
        <h1 class="mb-3">Lorem ipsum</h1>
        <h4 class="mb-3">Lorem ipsum dolor sit amet</h4>
    </div>

    </head>

    <body>
        <div class="container p-3 my-5 border" style="text-align: center; color: black; background-color: #e8e8e4; align-self: auto">
            <h1>Aplikacja wysłana!</h1>
            <p>Odpowiedź na aplikację zostanie przesłana na Twoją skrzynkę pocztową.</p>
        </div>
    </body>
</html>