{% extends 'calendar_base.html' %}

{% block content %}
    <style>

    #button {
        margin-bottom: 10px;
        background-color: #E8E8E4 !important;
        border: none;
        color: black;
        float: right;
        width: 200px;

    }

    </style>
    <div class="col-md-12" style="margin-top: 30px; margin-bottom: 30px">
        <div class="card mb-6">
            <div class="card-body">
                {{ calendar }}
                <div class="input-group">
                    <a class="btn btn-primary" href="/newmeeting/" id="button">Dodaj spotkanie</a>
                </div>
                <div class="input-group">
                    <a class="btn btn-primary" id="button" href="{% url 'calendar' %}?{{ prev_month }}"> Poprzedni miesiąc </a>
                    <a class="btn btn-primary" style="margin-left: 10px;" id="button" href="{% url 'calendar' %}?{{ next_month }}"> Następny miesiąc </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
