{% load static %}
<html lang="en">

{% if user.is_authenticated %}
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'bootstraptagsinput.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstraptagsinput.css'%}">


    <title>
        Lorem ipsum
    </title>


    {% block menu %}
            {% include 'navbarDash.html' %}
        {% endblock %}
<style>

body {
    background:  url("../../static/back.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: brightness(60%);
}

</style>
</head>

<body>

<div style="text-align: center; color: #e8e8e4; opacity: 90%; padding: 190px; border-color: #e8e8e4;">

    <h1>Kandydaci czekają na swoją szansę.</h1>

</div>

<div class="container" style="opacity: 70%;padding-top: 100px">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3" style="padding: 20px; margin: 10px">
            <div class="col mb-4" style="text-align: center">
                    <div class="card text-black bg-light " style="max-width: 18rem; ">
                        <div class="card-header">Przeglądaj kandydatów</div>
                        <div class="card-body">
                            <h5 class="card-title">Poświęć co najmniej chwilę na każdą aplikację</h5>
                            <p class="card-text">Każdy zasługuje na chwilę uwagi - szczególnie jeśli w grę wchodzi oferta posady w naszej firmie. ;)</p>
                        </div>
                    </div>
            </div>
            <div class="col mb-4" style="text-align: center">
                <div class="card text-black bg-light " style="max-width: 18rem; ">
                    <div class="card-header">Twórz oferty</div>
                    <div class="card-body">
                        <h5 class="card-title">Nie zapominaj o szczegółach</h5>
                        <p class="card-text">Zarówno o szczegółach posady jak i oczekiwaniach względem kandydata.  </p>
                    </div>
                </div>
            </div>
            <div class="col mb-4" style="text-align: center">
                <div class="card text-black bg-light " style="max-width: 18rem;">
                    <div class="card-header">Oceniaj kandydatów</div>
                    <div class="card-body">
                        <h5 class="card-title">Miej na uwadze potrzeby firmy i doświadczenie kandydata</h5>
                        <p class="card-text">Następnie dokonaj najlepszego wyboru kandydatów.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 10px; background: transparent">

        </div>
        <div class="row" style="padding: 10px">

        </div>


</div>


</body>
{% else %}
<h1>No permission!</h1>
{% endif %}


</html>