{% load static %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'bootstraptagsinput.js' %}"></script>
<link rel="stylesheet" href="{% static 'bootstraptagsinput.css'%}">

{% if user.is_authenticated %}

{% block content %}
    {% block menu %}
        {% include 'navbarDash.html' %}
    {% endblock %}


    {% block opinion %}

        <div class="container" style="margin-top: 30px">
                <div class="row">
                    <div class="col-md-12 mt-3 left">
                        <div class="card mb-4">
                                <h1 class="card-header">
                                    Opinia o kandydacie {{ opinion.candidate.name }} {{ opinion.candidate.secondName }}
                                    aplikującym na stanowisko {{ opinion.application.jobOffer.title }}</h1>
                                <div class="card-body">
                                    <p class="card-text text-muted h6"> Wystawiona przez {{ opinion.user.username }} </p>
                                    <p class="card-text"> {{ opinion.Content }} </p>
                                    {% if request.user == opinion.user %}
                                        <a href="#" class="btn btn-primary" style="background-color: #E8E8E4 !important;border: none; color: black;">Edytuj</a>
                                    {% endif %}

                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#warningEmploy">Zatrudnij aplikanta</button>

                                    <div class="modal fade" id="warningEmploy" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                      <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Ostrzeżenie</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            Czy na pewno chcesz zatrudnić aplikanta "{{ opinion.candidate.name }} {{ opinion.candidate.secondName }}" na stanowisko "{{ opinion.application.jobOffer.title }}"?
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-light" data-dismiss="modal">Nie</button>
                                              <a href="/employ/{{ opinion.id }}/">
                                            <button type="button" class="btn btn-primary">Tak</button>
                                              </a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
        <script>

        function myFunction() {
        var x = document.getElementById("myDIV");
        x.style.display = "block";
        }
        </script>

    {% endblock %}

{% endblock %}

{% else %}
    <h1>No permission!</h1>
{% endif %}