<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        {% block menu %}
            {% include 'navbar.html' %}
        {% endblock %}
    </head>

    <div class="p-5 text-center" style="background-color: #e8e8e4">
        <h1 class="mb-3">Opinia o kandydacie:  {{ application.person.name}} {{ application.person.secondName }}</h1>
        <h4 class="mb-3">Aplikującym na ofertę: {{application.jobOffer.title}}</h4>
    </div>
    <body>
        <div class="col-md-12 text-center">
        <h1 class="header" style="margin-top: 30px; text-align: center">
            Opinia została złożona
        </h1>
        <a class="btn btn-primary" href="{% url 'offer_applications' %}" style="margin-top: 50px; align-content: center">Wróć do listy aplikacji</a>
        </div>
    </body>

</html>