{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{% static 'bootstraptagsinput.js' %}"></script>
        <link rel="stylesheet" href="{% static 'bootstraptagsinput.css'%}">


        <title>
            Lorem ipsum
        </title>


        {% block menu %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <a class="navbar-brand" href="#">Lorem ipsum</a>

                <!-- poprawić collapse -->
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

                        <!--  Do obsługi użytkownika zalogowanego i niezalogowanego  -->
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/">Podgląd strony</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Panel pracownika</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Wyloguj</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Witaj, {{user.username}}</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Strona główna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        {% endif %}


                    </ul>
                </div>
            </nav>
        {% endblock %}

        <div class="p-5 text-center" style="background-color: #e8e8e4">
            <h1 class="mb-3">Lorem ipsum</h1>
            <h4 class="mb-3">Lorem ipsum dolor sit amet</h4>
        </div>

    </head>

    <body>
        {% block side_panel %}
            <div class="container">
                <div class="col-md-5 mt-3 float-right offset-0">
                    <div class="card" style=" align-items: center;">
                        <form action="/" method="POST" id="filter-form">
                            <!-- max liczba tagów = 5 -->
                            <div>
                                <input data-role="tagsinput" id="tags_input" type="text" placeholder="Słowo kluczowe" name="filter">
                            </div>

                            <div class="row justify-content-center">
                                <input type="submit" value="Filtruj">
                            </div>
                        </form>

                        <div class="card-text" style="padding: 4px; text-align: center">
                            <p>Wpisz słowo kluczowe, bądź nazwę stanowiska i zatwierdź przyciskiem, aby filtrować oferty.</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block offer %}
            <div class="container" id="offers">
                <div class="row">
                    <div class="col-md-12 mt-3 left">
                        {% for offer in data %}
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h1 class="card-title"> {{ offer.title }} </h1>
                                    <p class="card-text text-muted h6"> {{ offer.creation_date }} - {{ offer.dueDate }} </p>
                                    <p class="card-text"> {{ offer.description | slice:":300" }} </p>
                                    <a href="{% url 'offer_page' offer.title %}" class="btn btn-primary" style="background-color: #E8E8E4 !important;border: none; color: black">Zobacz szczegóły</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endblock %}

        <script type = "text/javascript">
            $('#filter-form').submit(function(e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url:"",
                    data: {
                        filterList: $("#tags_input").tagsinput('items')
                    },
                    success: function(data) {
                        $('#offers').html(data.data_filtered);
            },
                });

            });

            $('#filter-form').bind('keypress', function(e) {
                if (e.keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });

            $("#tags_input").tagsinput({
                maxTags: 5,
                maxChars: 20
            });

        </script>
    </body>
</html>
